@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #0A0A0A;
  color: #FAF0E6;
  overflow-x: hidden;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border: 2px solid #001a2c;
  border-radius: 3px;
  background-color: #FAF0E6;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 10px;
  height: 15px;
  border: solid #001a2c;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0px;
  left: 5px;
}

input[type='range'] {
  overflow: hidden;
  -webkit-appearance: none;
  background-color: #001a2c;
  border-radius: 20px;
  height: 15px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px; 
  height: 15px; 
  background-color: #FAF0E6; 
  border-radius: 50%;
  cursor: pointer;
}

.container{
  max-width: 1280px;
  padding: 0 18px;
  margin: 0 auto;
}

.spinner-border {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-width: 2px;
  border-color: currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spin .75s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ce-toolbar__plus, 
.ce-toolbar__settings-btn{
  color: #FAF0E6;
}



#editor-container{
  border: 2px solid #FAF0E6;
}

