@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #21232c;
  color: #a3a7b1;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 1280px;
  padding: 0 18px;
  margin: 0 auto;
}
